<main id="map-space" data-ng-controller="mapSpaceCtrl as parentCtrl" data-ng-init="parentCtrl.loadTreesCheckLink()">
    <ui-gmap-google-map center="parentCtrl.map.center" zoom="parentCtrl.map.zoom" control="parentCtrl.map.control" dragging="true">
        <ui-gmap-markers  models="parentCtrl.trees" idKey="'register_no'" coords="'coordinate'" control="parentCtrl.map.markers.control" type="'cluster'" typeOptions="{maxZoom: 17}" events="parentCtrl.map.markersEvents"></ui-gmap-markers>
        <ui-gmap-window show="parentCtrl.map.window.show" coords="parentCtrl.map.window.coordinate" closeClick="parentCtrl.map.window.close()" control="parentCtrl.map.window.control" options="parentCtrl.map.window.options" templateUrl="parentCtrl.map.window.templateUrl" templateParameter="parentCtrl.map.window.model"></ui-gmap-window>
    </ui-gmap-google-map>
</main>