<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hong Kong Tree Database</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-title" content="Hong Kong Tree Database">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- <link rel="icon" type="image/png" sizes="192x192"  href="">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="img/favicon/favicon.ico"> -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Poiret+One|Graduate' rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"  type="text/css">
    <link href="style/main.css" rel="stylesheet" type="text/css">
    <script src="script/vendor/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.min.js"></script>
    <script src="script/vendor/nemLogging.js"></script>
    <script src="script/vendor/angular-google-maps.min.js"></script>
    <script src="script/vendor/ui-bootstrap-tpls-0.13.3.min.js"></script>
</head>
<body data-ng-app="main">
    <header data-ng-controller="headerCtrl as headerCtrl">
        <main>
            <h1>Hong Kong</h1>
            <img class="img-circle" alt="100x100" src="img/tree_logo.png" data-ng-click="headerCtrl.open()">
            <h1>Tree Database</h1>
            <script type="text/ng-template" id="headerModal.html">
                <div class="modal-header">
                    <h1>Hong Kong Tree Database</h1>
                    <span class="modal-close glyphicon glyphicon-remove" data-ng-click="ctrl.close()"></span>
                </div>
                <div class="modal-body">

                </div>
            </script>
        </main>
        <aside class="btn-group">
            <a class="btn btn-default" data-ng-class="{active: headerCtrl.route.current.$$route.activeTab == 'list'}" href="#/"><img class="btn-icon" alt="list" src="img/list.svg">List</a>
            <a class="btn btn-default" data-ng-class="{active: headerCtrl.route.current.$$route.activeTab == 'map'}" href="#/map"><img class="btn-icon" alt="map" src="img/map.svg">Map</a>
            <a class="btn btn-default"><img class="btn-icon" alt="stat" src="img/stat.svg">Stat</a>
        </aside>
        <aside class="btn-group" id="user-svc" dropdown keyboard-nav>
            <button id="user" type="button" class="btn btn-info">
                <img class="img-rounded avatar" alt="50x50" src="data/users/avatars/avatar.svg">
                <div id="username">Username</div>
            </button>
            <button type="button" class="btn btn-info dropdown-toggle" style="height: 49px" dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="user">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> User</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </aside>
    </header>
    <main id="wrapper" data-ng-view></main>
    <script src="script/app.js"></script>
</body>
</html>