@charset "UTF-8";

@font-face {
    font-family: 'GLNummernschildEng';
    src: url('fonts/GLNummernschildEng.eot');
    src: url('fonts/GLNummernschildEng.eot') format('embedded-opentype'),
    url('fonts/GLNummernschildEng.woff2') format('woff2'),
    url('fonts/GLNummernschildEng.woff') format('woff'),
    url('fonts/GLNummernschildEng.ttf') format('truetype'),
    url('fonts/GLNummernschildEng.svg#GLNummernschildEng') format('svg');
}

body {
    width: 100%;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: inherit;
    height: 90px;
    background: -webkit-linear-gradient(90deg, rgba(235, 235, 235, 1), rgba(200, 200, 200, 1));
    background: linear-gradient(0deg, rgba(235, 235, 235, 1), rgba(200, 200, 200, 1));
    border-bottom: solid 1px rgba(180, 180, 180, 1);
    padding: 10px 15px;
    z-index: 10;
}

header main {
    text-align: center;
}

header main img {
    display: inline-block;
    background: -webkit-radial-gradient(rgba(255, 255, 255, 1), rgba(215, 215, 215, 1));
    background: radial-gradient(rgba(255, 255, 255, 1), rgba(215, 215, 215, 1));
    vertical-align: -40px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

header main img:hover {
    border: solid 1px rgba(200, 200, 200,1);
}

header ul.dropdown-menu {
    font-size: 16px;
}

header h1 {
    display: inline-block;
    margin-top: 5px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

header aside.btn-group {
    position: absolute;
    top: 25px;
}

header aside.btn-group a{
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

header aside.btn-group#user-svc {
    top: 20px;
    right: 15px;
}

header aside.btn-group#user-svc img.avatar {
    width: 35px;
    height: 35px;
    margin-right: 3px;
}

header aside.btn-group#user-svc #username {
    display: inline-block;
}

.btn-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 3px;
}

main#wrapper {
    padding-top: 100px;
}

main#list-space {
    /*background: url("../img/background/graphy1.png") repeat;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    overflow-y: auto;
}

main#map-space {
    height: 100%;
    width: 100%;
}

main#map-space .angular-google-map-container {
    position: absolute;
    top: 90px;
    bottom: 0;
    right: 0;
    left: 0;
}

article {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    border: solid 1px rgba(215, 215, 215, 1);
    border-radius: 3px;
    box-shadow: 2px 2px rgba(215, 215, 215, 1);
    height: 540px;
    width: 320px;
    padding: 5px;
    margin: 5px;
}

article section.photo-container {
    position: relative;
    margin: 10px auto;
    width: 300px;
    height: 450px;
    z-index: 1;
}

article section.photo-container .photo {
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition-duration: 2s;
    transition-duration: 2s;
}

article section.photo-container .photo .face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

article section.photo-container .photo .face.back {
    display: block;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
}

article section.photo-container.flip .photo {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

article section.photo-container .photo .face img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 4px;
}

article section.photo-container .photo .face.front img {
    width: 300px;
    height: 450px;
    -o-object-fit: cover;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

article section.photo-container.flip .photo .face.front img {
    -webkit-animation-name: blur-and-white-out;
    animation-name: blur-and-white-out;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

article section.photo-container .photo .face.front {
    z-index: 2;
}

article section.photo-container.flip .photo .face.front {
    z-index: 1;
}

article section.photo-container .photo .face.back {
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    font-family: 'Graduate', cursive;
    color: rgba(0, 0, 0, 1);
    z-index: 1;
}

article section.photo-container.flip .photo .face.back {
    position: relative;
    z-index: 2;
}

article section.photo-container .photo .face.back h4 {
    margin-top: 20px;
}

article section.photo-container .photo .face.back .special-notice {
    display: inline-block;
    border: solid 2px rgba(25, 25, 25, 1);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 5px;
}

article section.photo-container .photo .face.back section#pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

article section.photo-container .photo .face.back section#pagination pagination {
    margin: 10px auto;
}

article section.photo-container .photo .face.back {
    border-radius: 4px;
}

article section.photo-container .photo .face.back img#back {
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    width: auto;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

article section.photo-container .photo .face.back h2 {
    margin-top: 10px;
}

article section.photo-container .photo .face.back .plate {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    font-family: 'GLNummernschildEng', sans-serif;
    width: inherit;
    border: solid 2px rgba(25, 25, 25, 1);
    border-radius: 5px;
    margin: 0 auto 5px;
    padding-left: 10px;
}

article section.photo-container .photo .face.back .plate .part {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2px;
}

article section.photo-container .photo .face.back .plate img.icon {
    padding: 0;
    height: 35px;
    width: auto;
    border-radius: 1px;
    vertical-align: baseline;
}

article section.photo-container .photo .face.back .plate div.icon {
    margin: 0 auto;
    height: 36px;
    width: 36px;
}

article section.photo-container .photo .face.back .register.plate h1,
article section.photo-container .photo .face.back .species.plate h1,
article section.photo-container .photo .face.back .location-details.plate h1,
article section.photo-container .photo .face.back .coordinate.plate h1 {
    display: inline-block;
    font-size: 54px;
    margin-top: 0;
    margin-bottom: 0;
}

article section.photo-container .photo .face.back .species.plate .part.species h1 {
    display: inline-block;
    font-family: 'GLNummernschildEng', sans-serif;
    font-size: 34px;
    line-height: 0.85;
    margin: 0 auto;
}

article section.photo-container .photo .face.back .location-details.plate .head h1 {
    line-height: 46px;
}

article section.photo-container .photo .face.back .location-details.plate .simar_no h1 {
    display: inline-block;
    font-family: 'GLNummernschildEng', sans-serif;
    font-size: 40px;
    margin: 0 auto;
}

article section.photo-container .photo .face.back .plate .part:nth-child(2) {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}

article section.photo-container .photo .face.back .register.plate .head {
    background-color: rgba(0, 36, 125, 1);
}

article section.photo-container .photo .face.back .species.plate .head {
    background-color: rgba(82, 82, 20, 1);
}

article section.photo-container .photo .face.back .location-details.plate .head {
    background-color: rgba(94, 47, 13, 1);
}

article section.photo-container .photo .face.back .coordinate.plate .head {
    background-color: rgba(20, 82, 82, 1);
}

article section.photo-container .photo .face.back .coordinate.plate .lat h1,
article section.photo-container .photo .face.back .coordinate.plate .lon h1 {
    line-height: 0.9;
}

article section.photo-container .photo .face.back .coordinate.plate .lat h2,
article section.photo-container .photo .face.back .coordinate.plate .lon h2 {
    margin-top: 0;
    margin-bottom: 0;
}

article section.photo-container .photo .face.back .coordinate.plate img.icon {
    padding: 0;
    height: 38px;
    width: auto;
    background: transparent;
    border-radius: 1px;
    vertical-align: baseline;
}

article section.photo-container .photo .face.back .coordinate.plate div.icon {
    margin: 0 auto;
    height: auto;
    width: auto;
    cursor: pointer;
}

article section.photo-container .photo .face.back .head {
    color: rgba(255, 255, 255, 1);
    min-width: 68px;
}

article.central-and-western section.location {
    position: absolute;
    color: rgb(219,233,236);
    font-family: 'Open Sans Condensed', serif;
    bottom: 0;
    right: 10px;
    text-align: right;
}

article.central-and-western section.location h3:last-child {
    font-weight: bold;
}

article section.location h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    padding: 5px;
    cursor: pointer;
}

.central-and-western {
    background: rgba(100, 125, 175, 1) !important;
}

.removed {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.393 0.769 0.189 0 0 0.349 0.686 0.168 0 0 0.272 0.534 0.131 0 0 0 0 0 1 0" /></filter></svg>#filter');
    -webkit-filter: sepia(100%);
    filter: sepia(100%)
}

@-webkit-keyframes blur-and-white-out {
    0% {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="1" /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="2" /><feFuncG type="linear" slope="2" /><feFuncB type="linear" slope="2" /></feComponentTransfer></filter></svg>#filter');
        -webkit-filter: blur(1px) brightness(2);
        filter: blur(1px) brightness(2);
    }
    25% {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="2" /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="3" /><feFuncG type="linear" slope="3" /><feFuncB type="linear" slope="3" /></feComponentTransfer></filter></svg>#filter');
        -webkit-filter: blur(2px) brightness(3);
        filter: blur(2px) brightness(3);
    }
    50% {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="4" /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="4" /><feFuncG type="linear" slope="4" /><feFuncB type="linear" slope="4" /></feComponentTransfer></filter></svg>#filter');
        -webkit-filter: blur(4px) brightness(4);
        filter: blur(4px) brightness(4);
    }
    100% {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="8" /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="4" /><feFuncG type="linear" slope="4" /><feFuncB type="linear" slope="4" /></feComponentTransfer></filter></svg>#filter');
        -webkit-filter: blur(8px) brightness(4);
        filter: blur(8px) brightness(4);
    }
}

@keyframes blur-and-white-out {
    0% {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="1" /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="2" /><feFuncG type="linear" slope="2" /><feFuncB type="linear" slope="2" /></feComponentTransfer></filter></svg>#filter');
        -webkit-filter: blur(1px) brightness(2);
        filter: blur(1px) brightness(2);
    }
    25% {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="2" /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="3" /><feFuncG type="linear" slope="3" /><feFuncB type="linear" slope="3" /></feComponentTransfer></filter></svg>#filter');
        -webkit-filter: blur(2px) brightness(3);
        filter: blur(2px) brightness(3);
    }
    50% {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="4" /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="4" /><feFuncG type="linear" slope="4" /><feFuncB type="linear" slope="4" /></feComponentTransfer></filter></svg>#filter');
        -webkit-filter: blur(4px) brightness(4);
        filter: blur(4px) brightness(4);
    }
    100% {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="8" /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="4" /><feFuncG type="linear" slope="4" /><feFuncB type="linear" slope="4" /></feComponentTransfer></filter></svg>#filter');
        -webkit-filter: blur(8px) brightness(4);
        filter: blur(8px) brightness(4);
    }
}